.navbar{
    background-color: black;
    color: aliceblue;
    font-size: 20px;
  height: 80px;
  width: 100;
}
.icon{
    font-size: 40px;
    margin-left: 10px;
    color: yellow;
}
ul li a{
    text-decoration: none;
    margin: 20px;
    
}
ul li { list-style: none;}
li{
    float: left;
}
.btn{
   
    display: none;
}
@media screen and (max-width :720px) {
    .btn{
        color: beige;
        font-size: 20px;
        display: block;
    } 
    .navbar-links{
        display: none;
    } 
    .navbar-links-mobile{
        position: absolute;
        top: 75px;
        font-size: 30px;
        background-color: burlywood;
        text-align: center;
        width: 100%;
        display:block;
        list-style: none;
    } 
    
    li{
        display:block;
        text-align: center;
        
        float: none;
    }
}

body{
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
html{
    height: 100%;
}
.dark{
    height: 40px;
    color:white;
    width: 20px;
}